<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projet_mucable">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="Cahiers de vocabulaire"
        android:roundIcon="@drawable/logo_appli"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".Display.GraphMemDisplay"
            android:screenOrientation="landscape"/>

        <activity android:name=".Display.LoadingScreenDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display.IntroMenuDisplay"
            android:theme="@style/IntroMenuTheme" />
        <activity android:name=".Display.RevisionDisplay" />
        <activity android:name=".Display.ParCoeurActivity" />
        <activity android:name=".Display.ParChoixActivity" />
        <activity android:name=".Display.StatsDisplay" />
        <activity
            android:name=".Display.GestionTagsDisplay"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Display.ChoixTagsDisplay" />
        <activity android:name=".Display.ChoixMotsDisplay" />
        <activity android:name=".Display.ChoixMultiTagsDisplay" />
        <activity android:name=".Display.PartageDisplay" />
        <activity android:name=".Display.ChoixLangueDisplay" />
        <activity
            android:name=".Display.CahierDisplay"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Display.GestionMotDisplay" />
        <activity android:name=".Display.RevisionCheckDisplay" />
        <activity android:name=".Display.ResultatRevisionDisplay" />
        <activity android:name=".ColorPicker" />
    </application>

</manifest>