<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_mucable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cahiers de vocabulaire"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="locale">

    <activity android:name=".Display.LoadingScreenDisplay">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".Display.IntroMenuDisplay">
    </activity>

    <activity android:name=".Display.GestionTagsDisplay">
    </activity>

    <activity android:name=".Display.ChoixTagsDisplay">
    </activity>

    <activity android:name=".Display.PartageDisplay">
    </activity>

    <activity android:name=".Display.ChoixLangueDisplay">
    </activity>

    <activity android:name=".Display.CahierDisplay">
    </activity>

    <activity android:name=".Display.GestionMotDisplay">
    </activity>

    </application>

</manifest>
